.link {
    color: #3f51b5; /* w3-indigo */
    text-decoration: none;
}

.link:hover {
    color: #ffc107; /* w3-amber */
}

.nowrap {
    white-space: nowrap;
}

#sidebar {
    display: none;
    max-width: 400px;
    width: 80%;
    z-index: 4;
}
