.link {
    color: #2196F3; /* w3-blue */
    text-decoration: none;
}

.link:hover {
    color: black;
}

#sidebar {
    display: none;
    max-width: 400px;
    width: 80%;
    z-index: 4;
}

.w3-table-all a {
    display: block;
    text-decoration: none;
}

.w3-table-all tr:nth-child(2n) {
    background-color: #ddffff; /* w3-pale-blue */
}
