{% extends 'base.html' %}

{% block content %}
<div class="w3-panel w3-card-4 w3-light-grey">
    <h4>Calculator Display</h4>
    <div class="w3-panel w3-white">123465</div>
</div>

<form class="w3-panel w3-card-4 w3-light-grey" method="post">
    <h4>Instructions</h4>
    {{ form.hidden_tag() }}
    {{ form.ti_instructions(class_='w3-input', style='font-family: Consolas,"courier new";') }}
    <p class="w3-center">{{ form.submit(class_='w3-btn w3-ripple w3-amber') }}</p>
</form>

<button class="w3-button w3-hover-amber w3-indigo"
    onclick="document.getElementById('python_code').style.display='block'">Python Code</button>

<div id="python_code" class="w3-panel w3-display-container w3-card w3-light-grey" style="display: none">
    <span onclick="this.parentElement.style.display='none'"
        class="w3-button w3-display-topright w3-text-indigo w3-hover-text-amber w3-hover-light-grey"><i
            class="fas fa-times"></i></span>
    <h4>Instructions tanslated into Python</h4>
    <div class="w3-code w3-border-indigo pythonHigh notranslate">
        {{ py_code_part|nl2br_and_nbsp }}
    </div>
</div>

<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>
<script type="text/javascript">
    window.addEventListener("load", autofit_textarea_height);
    window.addEventListener("resize", autofit_textarea_height);
    w3CodeColor();
</script>
{% endblock %}
