{% extends 'base.html' %}

{% block content %}
<div class="w3-panel w3-card-4 w3-light-grey">
    {{ m.section_title_bloc(
        'Calculator Display (X)',
        '''This is where the result is displayed after the execution of a program just like on a real calculator.
        It is also called the display register or X register.
        It is referred to as the x variable in the Python code.
        ''') }}

    <div class="w3-panel w3-white">
        <span class="w3-right">{{ calculator_state.x if calculator_state.x is defined else 0 }}</span>
    </div>
</div>

{% if calculator_state.regx is defined and calculator_state.regx %}
{{ m.toggle_show_hide('display_history', 'Show/Hide History') }}

<div id="display_history" class="w3-panel w3-card-4 w3-light-grey" style="display: none">
    {{ m.section_title_bloc(
        'Display History',
        '''This shows the values of the display register each time the program encountered the "2nd Pause" key.
        The real calculator would freeze the display for a second or two then resume the program.
        The emulator simply stores the current value of the X register in the regx list in the Python code.
        ''') }}

    <table class="w3-white w3-panel w3-table-all">
        <tr class="w3-text-gray">
            <th>#</th>
            <th class="w3-right">X</th>
        </tr>
        {% for regx in calculator_state.regx %}<tr>
            <td>{{ loop.index }}.</td>
            <td class="w3-right">{{ regx }}</td>
        </tr>{% endfor %}
    </table>
</div>
{% endif %}

<div class="w3-panel w3-card-4 w3-light-grey">
    {{ m.section_instructions_title_bloc(
    'Instructions',
    '''This is the set of instructions just as they would be entered on a real calculator with the addition of comments starting with a #.
    The emulator translates the instructions into Python code then executes the code and displays the result.
    ''') }}

    <form method="post">
        {{ form.hidden_tag() }}

        {% if request.cookies.get('instructions_display', 'highlighted') == 'highlighted' %}
        {{ form.ti_instructions(class_='w3-input w3-panel', style='font-family: Consolas,"courier new";display: none;') }}
        {{ m.highlight_code(form.ti_instructions.data, 'highlighted', False) }}
        {% else %}
        {{ form.ti_instructions(class_='w3-input w3-panel', style='font-family: Consolas,"courier new";') }}
        {{ m.highlight_code(form.ti_instructions.data, 'highlighted', True) }}
        {% endif %}

        <p>
            {{ form.instruction_not_with_python(class_="w3-check") }}
            {{ form.instruction_not_with_python.label }}
        </p>
        <p class="w3-center">{{ form.submit(class_='w3-button w3-amber w3-hover-indigo') }}</p>
    </form>
</div>

{% if py_code_part %}
{{ m.toggle_show_hide('python_code', 'Show/Hide Python Code') }}

<div id="python_code" class="w3-panel w3-card w3-light-grey" style="display: none">
    {{ m.section_title_bloc('Excerpts - Instructions only') }}
    {{ m.highlight_code(py_code_part) }}
</div>
{% endif %}

<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>
<script type="text/javascript">
    window.addEventListener("load", autofit_textarea_height);
    window.addEventListener("load", set_highlight_edit);
    window.addEventListener("resize", autofit_textarea_height);
    w3CodeColor();
</script>
{% endblock %}
