{% extends 'base.html' %}

{% block content %}
<div class="w3-panel w3-card-4 w3-light-grey">
    <div class="w3-margin-top w3-margin-bottom">
        {{ m.section_title('Calculator Display') }}
        {{ m.question_mark('display_tooltip') }}
        {{ m.tooltip('display_tooltip', '''
            The display or X register shows the result after the execution of a program.
            The display history shows the values of the display register each time the program encounters the "2nd Pause" key.
            The real calculator would pause for a second whereas the emulator keeps track of the X value.
            In the Python code, the X register corresponds to the variable "x", and the display history is stored in the "regx" list.
            ''') }}

        {% if calculator_state.regx is defined and calculator_state.regx %}
        <button id="display_register_show" class="w3-button w3-indigo w3-hover-amber w3-right w3-small"
            onclick="toggle_x_y('display_history_show', 'display_register_show', 'display_register', 'display_history')">
            History
        </button>
        <button id="display_history_show" class="w3-button w3-indigo w3-hover-amber w3-right w3-small"
            onclick="toggle_x_y('display_history_show', 'display_register_show', 'display_register', 'display_history')"
            style="display: none">
            X Register
        </button>
        {% endif %}
    </div>

    <div id="display_register" class="w3-panel w3-white">
        <span class="w3-right">{{ calculator_state.x if calculator_state.x is defined else 0 }}</span>
    </div>

    <table id="display_history" class="w3-panel w3-white w3-table w3-striped w3-bordered" style="display: none">
        <tr class="w3-text-gray">
            <th>#</th>
            <th class="w3-right">X Register</th>
        </tr>
        {% for regx in calculator_state.regx %}<tr>
            <td>{{ loop.index }}.</td>
            <td class="w3-right">{{ regx }}</td>
        </tr>{% endfor %}
        <tr>
            <td>Current.</td>
            <td class="w3-right">{{ calculator_state.x if calculator_state.x is defined else 0 }}</td>
        </tr>
    </table>
</div>

<div class="w3-panel w3-card-4 w3-light-grey">
    {{ m.section_instructions_title_bloc(
    'Instructions',
    '''This is the set of instructions just as they would be entered on a real calculator with the addition of comments starting with a #.
    The emulator translates the instructions into Python code then executes the code and displays the result.
    ''') }}

    <form method="post">
        {{ form.hidden_tag() }}

        {% if request.cookies.get('instructions_display', 'highlighted') == 'highlighted' %}
        {{ form.ti_instructions(class_='w3-input w3-panel', style='font-family: Consolas,"courier new";display: none;') }}
        {{ m.highlight_code('highlighted', form.ti_instructions.data, display=True) }}
        {% else %}
        {{ form.ti_instructions(class_='w3-input w3-panel', style='font-family: Consolas,"courier new";') }}
        {{ m.highlight_code('highlighted', form.ti_instructions.data, display=False) }}
        {% endif %}

        <p>
            {{ form.instruction_not_with_python(class_="w3-check") }}
            {{ form.instruction_not_with_python.label }}
        </p>
        <p class="w3-center">{{ form.submit(class_='w3-button w3-amber w3-hover-indigo') }}</p>
    </form>
</div>

{% if py_code_part %}
<div class="w3-panel w3-card w3-light-grey">
    <div class="w3-margin-top w3-margin-bottom">
        {{ m.section_title('Python Code') }}
        {{ m.question_mark('python_tooltip') }}
        {{ m.tooltip('python_tooltip', 'This is the Python Code TODO: finish !!!') }}

        <button id="python_show" class="w3-button w3-indigo w3-hover-amber w3-right w3-small"
            onclick="toggle_x_y('python_show', 'python_hide', 'python_code')">
            Show
        </button>
        <button id="python_hide" class="w3-button w3-indigo w3-hover-amber w3-right w3-small"
            onclick="toggle_x_y('python_show', 'python_hide', 'python_code')" style="display: none">
            Hide
        </button>
    </div>
    {{ m.highlight_code('python_code', py_code_part, display=False) }}
</div>
{% endif %}

<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>
<script type="text/javascript">
    window.addEventListener("load", autofit_textarea_height);
    window.addEventListener("load", set_highlight_edit);
    window.addEventListener("resize", autofit_textarea_height);
    w3CodeColor();
</script>
{% endblock %}
