{% import 'macros.html' as m with context %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.12.1-web/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='application.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TI-57</title>

<body class="w3-content">

    <div class="w3-bar w3-indigo w3-xlarge">
        <a class="w3-bar-item w3-hover-gray w3-button" href="javascript:open_sidebar()"><i class="fas fa-bars"></i></a>

        <a class="w3-bar-item w3-hover-gray w3-button" href="{{ url_for('program.index') }}">TI-57 Programming</a>
    </div>

    <div class="w3-sidebar w3-bar-block" id="sidebar">
        <div class="w3-dropdown-click">
            <button class="w3-button" onclick="dropdown_click('examples')">{{ _('Examples') }} <i
                    class="fas fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block" id="examples">
                {{ m.example_group_title('Basic') }}
                {{ m.example_link('pause-for-a-rest-stop', 'Pause for a rest stop') }}

                {{ m.example_group_title('Finance') }}
                {{ m.example_link('building-a-savings-plan', 'Building a savings plan') }}
                {{ m.example_link('cash-in-the-bank', 'Cash in the bank') }}
                {{ m.example_link('on-sale', 'On sale') }}

                {{ m.example_group_title('Maths') }}
                {{ m.example_link('areas-and-volumes', 'Areas & volumes') }}
                {{ m.example_link('circumference-and-area-of-circle', 'Circumference and area of a circle') }}
                {{ m.example_link('combinations', 'Combinations') }}
                {{ m.example_link('factorial', 'Factorial') }}
                {{ m.example_link('free-fall', 'Free fall') }}
                {{ m.example_link('same-birthday', 'Same birthday') }}
                {{ m.example_link('volume-of-cylinder', 'Volume of a cylinder') }}
            </div>
        </div>
    </div>

    <div class="w3-overlay w3-animate-opacity" onclick="close_sidebar()" style="cursor:pointer" id="overlay"></div>

    <script type="text/javascript" src="{{ url_for('static', filename='application.js') }}"></script>

    <div class="w3-panel">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == "error" %}
        <div class="w3-panel w3-pale-red">
            <p>{{ message }}</p>
        </div>
        {% else %}
        <div class="w3-panel w3-pale-green">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

</body>

</html>
