{% import 'macros.html' as m with context %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.12.1-web/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='application.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TI-57 Program Emulator</title>

<body class="w3-content">
    <div class="w3-bar w3-indigo">
        <a class="w3-bar-item w3-button w3-hover-amber w3-xlarge" href="{{ url_for('program.index') }}">TI-57</a>
        <a class="w3-bar-item w3-xlarge w3-hide-small w3-hide-medium">Program Emulator</a>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-hover-amber w3-xlarge">Programs <i class="fas fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                {{ m.program_group_title('Basic') }}
                {{ m.program_link('pause-for-a-rest-stop', 'Pause for a rest stop') }}

                {{ m.program_group_title('Finance') }}
                {{ m.program_link('building-a-savings-plan', 'Building a savings plan') }}
                {{ m.program_link('cash-in-the-bank', 'Cash in the bank') }}
                {{ m.program_link('on-sale', 'On sale') }}

                {{ m.program_group_title('Maths') }}
                {{ m.program_link('areas-and-volumes', 'Areas & volumes') }}
                {{ m.program_link('circumference-and-area-of-circle', 'Circumference and area of a circle') }}
                {{ m.program_link('combinations', 'Combinations') }}
                {{ m.program_link('factorial', 'Factorial') }}
                {{ m.program_link('free-fall', 'Free fall') }}
                {{ m.program_link('same-birthday', 'Same birthday') }}
                {{ m.program_link('volume-of-cylinder', 'Volume of a cylinder') }}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='w3codecolor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='application.js') }}"></script>

    <div class="w3-panel">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == "error" %}
        <div class="w3-panel w3-pale-red">
            <p>{{ message }}</p>
        </div>
        {% else %}
        <div class="w3-panel w3-pale-green">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

    <div class="w3-panel">
        Manuals
        {{ m.round_button('ti/Training with your EC-4000 Programmable Calculator.pdf', 'EN',
            'Training with your EC-4000 Programmable Calculator aka TI-57 Making Tracks into Progamming') }}
        {{ m.round_button('ti/TI-57 Der Weg zum Programmieren.pdf', 'DE', 'TI-57 Der Weg zum Programmieren') }}
        {{ m.round_button('ti/TI-57 Introduction à la programmation.pdf', 'FR', 'TI-57 Introduction à la programmation') }}
        Reference
        {{ m.round_button('ti/TI-57 Reference Guide.pdf', 'EN', 'TI-57 Reference Guide') }}
    </div>
</body>

</html>
