{% macro highlight_code(language, id, code, display) -%}
<div {% if id %}id="{{ id }}" {% endif %} class="w3-code w3-border-indigo {{ language }}High notranslate"
    {% if not display %}style="display: none" {% endif %}>
    {{ code }}
</div>
{%- endmacro %}

{% macro program_group_title(title) -%}
<div class="w3-small w3-text-gray w3-border-bottom w3-margin-top w3-margin-right w3-margin-left"><i>{{ title }}</i>
</div>
{%- endmacro %}

{% macro program_link(program, link_text) -%}
<a href="{{ url_for('program.index', program=program) }}" class="w3-bar-item w3-button">{{ link_text }}
    {% if request.args.get('program') == program %}<i class="fas fa-check"></i>{% endif %}</a>
{%- endmacro %}

{% macro question_mark(tooltip_id) -%}
<i class="fas fa-question-circle" onmouseover="document.getElementById('{{ tooltip_id }}').style.display='block'"></i>
{%- endmacro %}

{% macro round_button(filename, text) -%}
<a class="w3-button w3-indigo w3-hover-amber w3-circle w3-small w3-padding-small"
    href="{{ url_for('static', filename=filename) }}">{{ text }}</a>
{%- endmacro %}

{% macro section_title(title) -%}
<span class="w3-large">{{ title }}</span>
{%- endmacro %}

{% macro section_value(name, value) -%}
<div class="w3-margin-top w3-margin-bottom">{{ name }}</div>
<div class="w3-panel w3-white">
    <span class="w3-right">{{ value }}</span>
</div>
{%- endmacro %}

{% macro section_values(name, values) -%}
<div class="w3-margin-top w3-margin-bottom">{{ name }}</div>
{% if values %}
<table id="display_history" class="w3-panel w3-white w3-table w3-striped w3-bordered">
    {% for value in values %}
    <tr>
        <td>{{ loop.index-1 }}.</td>
        <td class="w3-right">{{ value }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="w3-panel w3-white">
    <span class="w3-right">Empty</span>
</div>
{% endif %}
{%- endmacro %}

{% macro toggle_buttons(button_x_id, button_y_id, target_x_id, target_y_id, onclick) -%}
<span class="w3-small w3-right">
    <button id="{{ button_x_id }}" class="w3-button w3-indigo w3-hover-amber"
        onclick="{{ onclick }}">{{ target_x_id}}</button>
    <button id="{{ button_y_id }}" class="w3-button w3-indigo w3-hover-amber" onclick="{{ onclick }}"
        style="display: none">{{ target_y_id }}</button>
</span>
{%- endmacro %}

{% macro tooltip(id, text) -%}
<div id="{{ id }}" class="w3-modal">
    <div class="w3-modal-content w3-panel w3-round-xxlarge w3-indigo"
        onmouseout="document.getElementById('{{ id }}').style.display='none'">
        <p>{{ text }}</p>
    </div>
</div>
{%- endmacro %}
